@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Alegreya+Sans&family=Alegreya+Sans+SC&family=Uncial+Antiqua&display=swap');

body {
  font-size: 10px;
  background-color: FloralWhite;
  font-family: 'Alegreya Sans', sans-serif;
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: #2b1e16;
}

a {
  color: #b2541e;
}
a:hover {
  text-decoration: none;
}

h1, p {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  font-size: 75px;
  font-family: 'Caudex', serif;
  font-weight: normal;
  text-align: center;
  color: #b2541e;
  border-bottom: 1px solid #d85f31;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.6em;
  margin-bottom: 1em;
  line-height: 1.4em;
  text-align: justify;
}

blockquote {
  background: white;
  padding: 10px;
  margin: 0;
  margin-bottom: 1em;
  color: #89766b;
}
blockquote p:first-child::before,
blockquote p:nth-last-child(2)::after {
  font-size: 3em;
  text-indent: -20px;
  color: #ddd;
}
blockquote p:first-child::before {
  content: '«';
}
blockquote p:nth-last-child(2)::after {
  content: '»';
}
blockquote p {
  text-indent: 20px;
}
blockquote p:last-child {
  margin-bottom: 0;
}

.premier-paragraphe {
  font-size: 1.8em;
}

.premier-paragraphe::first-line {
  font-family: 'Alegreya Sans SC', serif;
  letter-spacing: 1px;
}

.premier-paragraphe::first-letter {
  font-family: 'Uncial Antiqua', serif;
  font-size: 40px;
  line-height: 1em;
  color: FloralWhite;
  background: #c45515;
  border: 3px double FloralWhite;
  padding: 8px;
  float: left;
  margin-right: 0.25rem;
}

.portrait {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 4px double #d86f31;
}

.dimmed {
  color: #89766b;
}
