@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Alegreya+Sans&family=Alegreya+Sans+SC&family=Uncial+Antiqua&display=swap');


body {
  font-family: 'Alegreya Sans';
  font-size: 10px;
  padding: 20px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: FloralWhite;
  color: #2b1e16;
}

a {
  color: #b2541e;
}
a:hover {
  text-decoration: none;
}

h1, p {
  margin: 0 auto;
  max-width: 500px;
}

h1 {
  font-family: 'Caudex', serif;
  font-weight: normal;
  font-size: 75px;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 1.5rem;
  color: #b2541e;
  border-bottom: 1px solid #d86f31;
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
  font-size: 1.6em;
  text-align: justify;
}

.premier-paragraphe::first-line {
  font-family: 'Alegreya Sans SC', serif;
  letter-spacing: 1px;
}

.lettrine,
.premier-paragraphe::first-letter {
  font-family: 'Uncial Antiqua', serif;
  font-size: 40px;
  line-height: 1em;

  color: FloralWhite;
  background: #c45515;

  border: 3px double FloralWhite;
  padding: 8px;
  float: left;
  margin-right: 0.25rem;
}

.portrait {
  width: auto;
  height: 50%;
  display: block;
  margin: 0 auto;
  border: 4px double #d86f31;
}
